<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokemon Master</title>
    <link rel="stylesheet" href="../css/main.css">
    
</head>
<body>
    <div class="container">
        <nav class="nav-tabs">
            <button class="nav-tab active" onclick="showTemplate('dashboard')">Dashboard</button>
            <button class="nav-tab" onclick="showTemplate('deck-builder')">Constructor Mazos</button>
            <button class="nav-tab" onclick="showTemplate('battle')">Arena de Batalla</button>
            <button class="nav-tab" onclick="showTemplate('collection')">Colección</button>
        </nav>

                  

       

        <!-- Colección de Cartas -->
       
          
              <!--Script para poder ver mi navbar en otras pagina-->
           
    <div id="dashboard"></div>
    
    <script>
        fetch('dashboard.html')
        .then(res => res.text())
        .then(data => {
            document.getElementById('dashboard').innerHTML = data;
        });
        
    </script>
    <!--Fin del Script-->
           
    </div>
   
  
<script src="../js/rutas.js"></script>
</body>
</html>